<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <link rel="stylesheet" href="./css/main.css">
</head>
<body ng-app="myApp">
  <form id="form_section" name="myForm">
    <div class="container">
      <h1>Oder By LeoCoffe</h1>
      <h3>Dink as your Mood</h3>
      <div class="form_oder">
        <div class="oder_section" ng-controller="MathController">
          <div class="table_section clear">
            <table>
              <thead>
                <tr>
                  <th class="color">Name</th>
                  <th class="color">Size</th>
                  <th class="color">Quantity</th>
                  <th class="color">Price</th>
                  <th class="color">SubTotal</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p><select class="input_type" ng-options="dependant for dependant in dependants" ng-model="selectedD" ng-init = "true"></select></p> <br \>
                  </td>
                  <td>
                    <p><select class="input_type" ng-options="gender for gender in genders" ng-model="selectedG" ng-init="selectedG = true">
                    </select> </p> <br \>
                  </td>
                  <td>
                    <p><input class="input_type" min="1" type="number" name="quantity" ng-model="quantity" required/></p><br \>
                    </td>
                    <td>
                      <p>{{price}} VND</p><br \>
                    </td>
                    <td>
                      <p>{{empInsurance()}} VND</p><br \>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p ng-show="myForm.quantity.$invalid">Error</p>
          </div>
          <p class="right"> VAT: {{incomeTax()}} VND</p><br \>
          <div ng-switch on="selectedD">
            <div ng-switch-when="Nâu Đá"></div>
            <div ng-switch-when="Đen Đá"></div>
            <div ng-switch-when="Bạc Xiu"></div>
          </div>
          <div ng-switch on="selectedG">
            <div ng-switch-when="M"></div>
            <div ng-switch-when="L"></div>
          </div>
          <p class="right"> Total: {{totalSalary()}} VND</p>
        </div>
      </div>
    </div>
  </form>
<script>
  var app = angular.module('myApp', []);

  app.controller('MathController', function($scope) {
    $scope.price = 0;
    $scope.quantity = 1;
    $scope.genders = ['M' ,'L'];
    $scope.selectedG = $scope.genders[0];
    $scope.dependant = ['Coffe', 'Nước ép', 'Sinh tố'];
    $scope.selectedC = $scope.dependant[0];
    $scope.dependants = ['Nâu Đá', 'Đen Đá', 'Bạc Xỉu'];
    $scope.selectedD = $scope.dependants[0];
$scope.empInsurance = function() {

      return (Number($scope.quantity) * (Number($scope.price)));
    }

    $scope.incomeTax = function() {

      if ($scope.selectedG == "L") {
        switch($scope.selectedD) {
          case "Nâu Đá": $scope.price = 25000;
            break;
          case "Đen Đá": $scope.price = 20000;
            break;
          case "Bạc Xỉu": $scope.price = 30000;
            break;
        }
      } else {
        switch($scope.selectedD) {
          case "Nâu Đá": $scope.price = 23000;
            break;
          case "Đen Đá": $scope.price = 18000;
            break;
          case "Bạc Xỉu": $scope.price = 25000;
            break;
        }
      }
      return (Number($scope.quantity) * (Number($scope.price) * 0.1))

    }
    $scope.totalSalary = function(){
      return (Number($scope.quantity) * (Number($scope.price))) + (Number($scope.quantity) * (Number($scope.price) * 0.1));
    }
  });
</script>

</body>
</html>